body{
    margin: 0;
    padding: 0;
}
<<<<<<< HEAD

=======
>>>>>>> get_music
nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    font-family: sans-serif;

<<<<<<< HEAD
    background: rgb(26, 108, 202);
    margin-top: 0;

    box-shadow: 1px 3px 1px 1px rgba(26, 108, 202, 0.678);
=======
    padding-left: 20%;

    background: rgb(26, 108, 202);
    margin-top: 0;
}
.time_line{
    width: 100%;
    height: 5px;
    background: rgba(26, 108, 202, 0.281);
    margin-top: -17px
}
.inner_time_line{
    height: 5px;
    background: rgba(27, 80, 141, 0.753);
    transition: .3s all;
>>>>>>> get_music
}
nav ul li{
    font-size: 18px;
}
nav ul li:first-child{
    font-size: 35px;;
}
nav ul li{
    color: white;
    margin: 5px 10px;
}


.select{
    display: flex;
    justify-content: center;
}
.select:first-child{
    display: block;
}
.inner_select{
    text-align: center;
}
.inner_select p{
    font-size: 4rem;
    font-family: sans-serif;
}
.select_buttons{
    display: flex;
}
.select_buttons i{
    font-size: 15rem;
    box-sizing: border-box;
}
.but{
    box-sizing: border-box;
    margin: 0px 50px;
    width: 300px;
    text-align: center;
    transition: .5s all;
}
.but i{
    color: rgb(43, 185, 154);
}
.but:first-child i{
    color:rgba(26, 108, 202, 0.678)
}
.but span{
    font-family: sans-serif;
    font-size: 2rem;
}
.but:hover{
    border-radius: 10px;
    background:rgba(43, 185, 154, 0.404);
    cursor: pointer;
    color: rgb(43, 185, 154);
}
.but:first-child:hover{
    border-radius: 10px;
    background:rgba(26, 108, 202, 0.336);
    cursor: pointer;
    color: rgba(26, 108, 202, 0.959);
}
<<<<<<< HEAD
=======

.main_music_list{
    font-family: sans-serif;
    padding: 0 20%;
}
.music{
    margin: 10px;
}
.music{
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(26, 108, 202, 0.678);
}
.mus_timeline{
    display: none ;
}
.mus_buts{
    display: flex;
    font-size: 18px;
    color: white;
}
.mus_buts div{
    margin: 0 10px;
}
.music_inner{
    display: flex;
    align-items: center;
}


.form{
    width: 100%;
    height: 80%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}
.form input{
    width: 250px;
    height: 20px;
    border: none;
    border-bottom: 1px solid  rgba(26, 108, 202, 0.678);
    padding: 3px;
}
.form span{
    border-bottom: 2px solid rgb(0, 68, 255);
    padding-bottom: 3px;
    cursor: pointer;
}

.load_file{
    width: 100%;
    background: rgba(18, 73, 136, 0.973);
    padding: 10px;
    box-sizing: border-box;
    color: white;
}
>>>>>>> get_music
